__pycache__/
*.pyc
*.pth
*.pt
*.ckpt
.env
wandb/
outputs/
.ipynb_checkpoints/
.DS_Store
mri_pet_bl_focal_output/
AAL_template.nii
HOPE-for-mild-cognitive-impairment/
SOFTX-D-21-00098/
/Users/khoale/Desktop/Coding_Space/Hope Implementation/table_ema_ablation.csv
/Users/khoale/Desktop/Coding_Space/Hope Implementation/table_loss_ablation.csv
/Users/khoale/Desktop/Coding_Space/Hope Implementation/plot_ema_learning_curve.png
/Users/khoale/Desktop/Coding_Space/Hope Implementation/plot_loss_learning_curve.png
/Users/khoale/Desktop/Coding_Space/Hope Implementation/analyze_results.py